# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.nox/
.venv/
venv/
env/
*.egg-info/
.eggs/

# Molecule
.molecule/
.cache/

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

# Local development
*.local
.env
